body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

#root{
    margin:0 24px;
    position: relative;
    min-height: 100vh;
}


.TodoCounter{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}

.TodoCounter span {
    font-weight: bold;
    font-size: 34px;
}

.TodoItem {
    color: rgb(36, 36, 36);
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 25px;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% -120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p--complete{
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #ccc; */
}

.Icon-check{
    position: absolute;
    left: 12px;
}

.Icon-check--active{
    color: #4caf50;
}

.Icon-delete{
    position: absolute;
    top: -24px;
    right: 0;
    color: red;
}

.Icon-delete:hover{
    color: rgb(235, 107, 107);
}

.TodoList{
    list-style: none;
}

.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 32px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }

  .CreateTodo {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateTodo:hover {
    transform: rotate(224deg);
  }